.hero {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(https://images.pexels.com/photos/2983101/pexels-photo-2983101.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}

.banner-title {
    margin: 80px 130px;
    color: #fff;
}

.banner-title h1 {
    font-size: 50px;
    margin-bottom: 30px;
}

@media (max-width: 900px) {
    .banner-title {
        margin: 80px 40px;
    }

    .banner-title h1 {
        font-size: 30px;
    }
}