@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400&display=swap');
body{
    font-family: Arvo;
}
.card-header{
  background: #AD2A31;
  color: #fff;
}

.card-body{
  margin: 0 auto;
}

.card-img-top{
	height: 250px;
	width: 100%;
	object-fit: cover;
}

.btn{
  background-color: #AD2A31;
  width: 40%;
  color: white;
  font-size: .80rem;
}